# Python
__pycache__/
*.pyc
venv/
.venv/
*.pt
*.pkl

# Datasets lourds
data/

# Frontend
node_modules/
.next/
dist/

# Environnement & Logs
.env
*.log

# Docker (si tu as des volumes locaux de données)
.docker/